#chartContainer {
    width: 800px;
    height: 600px;
}

/* chart.css */
.tab {
    background-color: #ffbaae;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

#tabs {
    display: flex;
   
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.tab:hover {
    background-color: #ff7e9a;
}

.tab.active {
    background-color: #ff7e9a;
}


